.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap:30px;
    width:100vw;
    background-color: var(--blue);
    padding:50px 0px 90px;
}

.blog .blog-card {
    width: 220px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--iceblue);
    box-shadow: var(--box-shadow);
    position: relative;
}

.blog-card:hover .blog-body {
    right: -3%;
}

.blog-img {
    width: 220px;
    height: 260px;
    object-fit: contain;
}

.blog-body {
    width: 220px;
    height: 260px;
    top: 0;
    right: -150%;
    position: absolute;
    backdrop-filter: blur(6px);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:8px;
    transition: 1.5s;
}

.blog-body .blog-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    width:150px;
    padding: 0;
    color: var(--lightgreen);
}

.blog-body .blog-info {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
    color: var(--skyblue);
}

.blog-body .blog-btn {
    background-color: var(--lightgreen);
    color: var(--blue);
    padding: 3px 6px;
    border-radius: 5px;
    text-transform: capitalize;
    width: 100px;
    cursor: pointer;
}

.blog-btn:hover{
    background-color: var(--blue);
    color: var(--skyblue);
}

#blog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs{
    display: flex;
    gap:60px;
}