/* i{
    color: var(--skyblue);
} */

#HomeHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:15px;
}

#HomeHeader p, #HomeHeader p span{
    width:70vw;
    color: var(--skyblue);
    font-weight: 500;
    font-size: 19px;
    text-shadow: 1px 1px var(--blue);
}

#HomeHeader button{
    margin-top: 1%;
    font-weight: 400;
    padding: 5px 10px;
    width:fit-content;
    border-radius: 10px;
    background-color: transparent;
    color: var(--skyblue);
    font-size: 18px;
    border: 1px solid #7fc6d7;
}

#HomeHeader button:hover {
    border: 1px outset var(--blue);
    color: var(--lightgreen);
    cursor: pointer;
}

#bg{
    width:100vw;
    position: absolute;
    z-index:-1;
}

#HomeHeader h1 {
    font-size: 65px;
    font-family: var(--righteous);
    letter-spacing: 3px;
    color: var(--white);
    font-weight: 100;
    text-shadow: 2px 1px 2px var(--lightblue);
    text-transform: uppercase;
    letter-spacing: 4px;
}

#taglines:after {
    content: '';
    text-transform: capitalize;
    font-style: oblique;
    animation: taglines 12s infinite linear;
    font-family: 'Lovers Quarrel', cursive;
    width:fit-content;
    padding: 0px 10px;
    font-size: 65px;
    text-shadow: var(--blueshadow);
}

@keyframes taglines {
    0% {
        content: "Your Eyes Our Care";
    }

    25% {
        content: "Uncover The Science Of Sight";
    }

    50% {
        content: "Shop For Better Vision";
    }

    75% {
        content: "Expert Vision Evaluations";
    }

    100% {
        content: "Premium Visual Care";
    }
}


.ChooseUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    padding: 60px 0px 30px;
    width:100vw;
    background-color: var(--blue);
}

.ChooseUs h1, #blog-content h1{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--lightgreen);
}

.ChooseUs h3, #blog-content h3{
    color: var(--skyblue);
    padding-top: 20px;
}

#choose{
    display: flex;
    justify-content: center;
    align-content: center;
    /* width:100vw; */
    padding:10px 10px;
    gap:35px;
}

.chooseDiv{
    display: flex;
    flex-direction: column;
    width:14vw;
    text-align: center;
    align-items: center;
    gap:8px;
    padding:20px 5px;
    border-radius: 8px;
    /* border: 1px solid var(--iceblue); */
    box-shadow: 0px 0px 10px 0px var(--iceblue);
}

.shop-sub{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap:15px;
    padding: 0px 0px 30px;
    width:100vw;
    background-color: var(--blue);
}

.shop-sub img{
    width:180px;
    height:180px;
    border:1px solid var(--iceblue);
}

.shop-sub:hover{
    cursor: pointer;
}


.del-icons div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.del-icons h3{
    width:150px;
    text-align: center;
    color: var(--lightgreen);
}



/* Shop Blog */
.style{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:2vw;
    width:100vw;
    padding: 30px 0px 50px;
    background-color: var(--blue);
}

.style-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:2vh;
    padding: 2px;
}

.style-sub div{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding:10px 0px;
    margin: 3px;
    box-shadow: 0px 0px 4px 0px var(--iceblue);
}

.style-sub .image{
    width:360px;
    border-radius: 10px;
    border:2px solid var(--lightblue);
    box-shadow: var(--box-shadow);
}

.style-btn{
    border:1px solid var(--blue);
    padding: 5px 10px;
    width:fit-content;
    border-radius: 10px;
}

.style-btn:hover{
    background-color: var(--blue);
    border:1px inset var(--lightgreen)
}
/* Shop Blog End */

